<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.example.mipo"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="22"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="com.example.mipo.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.example.mipo.permission.C2D_MESSAGE" />

    <application
        android:name="com.example.mipo.Mipo"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.example.mipo.MainActivity"/>

        <activity
            android:name="com.example.mipo.UserPage"
            />
        <activity
            android:name="com.example.mipo.DetailedProfileActivity"
            />
        <activity
            android:name="com.example.mipo.MenuActivity"
            />
        <activity
            android:name="com.example.mipo.FavoritesPage"
            />

        <activity
            android:name="com.example.mipo.LoginActivity"
            />
        <activity
            android:name="com.example.mipo.CommunicationsActivity"
            />
        <activity
            android:name="com.example.mipo.ChatActivity"
            />
        <activity
            android:name="com.example.mipo.MainPageActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mipo.SmsSignUpActivity"
            />
        <activity
            android:name=".LoginFromFundigoActivity"
            />
        <activity
            android:name=".EditProfileActivity"
            />
        <activity
            android:name="com.example.mipo.FromFundigo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mipo.FilterActivity"
            />
        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.example.mipo" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".JSONCustomReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
